{% extends "base.html" %}

{% block title %}Confirm Order - Happy Hour{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    body{
      background-color: #F5F3F5;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="header">
    <h1>Your Cocktails</h1>
  </div>

  <div  class="center-text">

    <div>
      <h3>Cocktails</h3>
      {% for record in records %}
        <!-- {{record[0]}} <br /> -->
        <img  id="cocktailimage" src="/static/{{ record[1] }}"> <br />
      {% endfor %}
    </div>

    <p>
      <a class="btn-continue" href="/">Home Page</a>
    </p>
  </div>
{% endblock %}
