{% extends "base.html" %}

{% block title %}Confirm Order - Happy Hour{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    body{
      background-color: #F5F3F5;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="header">
    <h1>Confirm</h1>
    <p>ORDER CONFIRMATION</p>
  </div>

  <div  class="center-text">

    <div>
      <h3>Items</h3>
      {% for item in items %}
        <!-- {{ items[item] }} &times;  -->
        {{item}} <br />
      {% endfor %}
    </div>

    <p>
      <a class="btn-continue" href="/">Home Page</a>
    </p>
  </div>
{% endblock %}
